<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.AddStreamMapper">
    <resultMap id="AddStreamResult" type="com.ruoyi.sq.domain.AddStream">
        <result property="id" column="id" />
        <result property="secret" column="secret" />
        <result property="vhost" column="vhost" />
        <result property="app" column="app" />
        <result property="stream" column="stream" />
        <result property="url" column="url" />
        <result property="createUser" column="create_user" />
        <result property="createDept" column="create_dept" />
        <result property="createTime" column="create_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateTime" column="update_time" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="selectAddStreamVo">
        select `id`, `secret`, `vhost`, `app`, `stream`, `url`, `create_user`, `create_dept`, `create_time`, `update_user`, `update_time`, `is_deleted` from `a_add_stream`
    </sql>

    <select id="selectAddStreamById" resultMap="AddStreamResult">
        <include refid="selectAddStreamVo"/> where `id` = #{id}
    </select>

    <select id="selectAddStreamList" resultMap="AddStreamResult">
        <include refid="selectAddStreamVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="secret != null and secret != ''"> and `secret` = #{secret}</if>
            <if test="vhost != null and vhost != ''"> and `vhost` = #{vhost}</if>
            <if test="app != null and app != ''"> and `app` = #{app}</if>
            <if test="stream != null and stream != ''"> and `stream` = #{stream}</if>
            <if test="url != null and url != ''"> and `url` = #{url}</if>
            <if test="createUser != null and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createDept != null and createDept != ''"> and `create_dept` = #{createDept}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="updateUser != null and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateTime != null"> and `update_time` = #{updateTime}</if>
            <if test="isDeleted != null and isDeleted != ''"> and `is_deleted` = #{isDeleted}</if>
        </where>
    </select>

    <insert id="insertAddStream" parameterType="com.ruoyi.sq.domain.AddStream" useGeneratedKeys="true" keyProperty="id">
        insert into `a_add_stream`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="secret != null">`secret`,</if>
            <if test="vhost != null">`vhost`,</if>
            <if test="app != null">`app`,</if>
            <if test="stream != null">`stream`,</if>
            <if test="url != null">`url`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createDept != null">`create_dept`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="isDeleted != null">`is_deleted`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="secret != null">#{secret},</if>
            <if test="vhost != null">#{vhost},</if>
            <if test="app != null">#{app},</if>
            <if test="stream != null">#{stream},</if>
            <if test="url != null">#{url},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateAddStream" parameterType="com.ruoyi.sq.domain.AddStream">
        update `a_add_stream`
        <set>
            <if test="secret != null">`secret` = #{secret},</if>
            <if test="vhost != null">`vhost` = #{vhost},</if>
            <if test="app != null">`app` = #{app},</if>
            <if test="stream != null">`stream` = #{stream},</if>
            <if test="url != null">`url` = #{url},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createDept != null">`create_dept` = #{createDept},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="isDeleted != null">`is_deleted` = #{isDeleted},</if>
        </set>
        where `id` = #{id}
    </update>
    <update id="deleteAddStreamByIds">
        update `a_add_stream` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

    <update id="deleteAddStreamById">
        update `a_add_stream` set `is_deleted` = '1' where `id` = #{id}
    </update>

</mapper>
