<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.AlertReasonMapper">
    <resultMap id="AlertReasonResult" type="com.ruoyi.sq.domain.AlertReason">
        <result property="id" column="id" />
        <result property="alert" column="alert" />
        <result property="reason" column="reason" />
        <result property="createUser" column="create_user" />
        <result property="createDept" column="create_dept" />
        <result property="createTime" column="create_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateTime" column="update_time" />
        <result property="status" column="status" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="selectAlertReasonVo">
        select `id`, `alert`, `reason`, `create_user`, `create_dept`, `create_time`, `update_user`, `update_time`, `status`, `is_deleted` from `a_alert_reason`
    </sql>

    <select id="selectAlertReasonById" resultMap="AlertReasonResult">
        <include refid="selectAlertReasonVo"/> where `id` = #{id}
    </select>

    <select id="selectAlertReasonList" resultMap="AlertReasonResult">
        <include refid="selectAlertReasonVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="alert != null and alert != ''"> and `alert` = #{alert}</if>
            <if test="reason != null and reason != ''"> and `reason` = #{reason}</if>
            <if test="createUser != null and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createDept != null and createDept != ''"> and `create_dept` = #{createDept}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="updateUser != null and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateTime != null"> and `update_time` = #{updateTime}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
            <if test="isDeleted != null and isDeleted != ''"> and `is_deleted` = #{isDeleted}</if>
        </where>
    </select>

    <insert id="insertAlertReason" parameterType="com.ruoyi.sq.domain.AlertReason" useGeneratedKeys="true" keyProperty="id">
        insert into `a_alert_reason`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="alert != null">`alert`,</if>
            <if test="reason != null">`reason`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createDept != null">`create_dept`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="status != null">`status`,</if>
            <if test="isDeleted != null">`is_deleted`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="alert != null">#{alert},</if>
            <if test="reason != null">#{reason},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateAlertReason" parameterType="com.ruoyi.sq.domain.AlertReason">
        update `a_alert_reason`
        <set>
            <if test="alert != null">`alert` = #{alert},</if>
            <if test="reason != null">`reason` = #{reason},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createDept != null">`create_dept` = #{createDept},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="isDeleted != null">`is_deleted` = #{isDeleted},</if>
        </set>
        where `id` = #{id}
    </update>
    <update id="deleteAlertReasonByIds">
        update `a_alert_reason` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

    <update id="deleteAlertReasonById">
        update `a_alert_reason` set `is_deleted` = '1' where `id` = #{id}
    </update>

</mapper>
