<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.VisualMapMapper">
    <resultMap id="VisualMapResult" type="com.ruoyi.sq.domain.VisualMap">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="data" column="data" />
    </resultMap>

    <sql id="selectVisualMapVo">
        select `id`, `name`, `data` from `blade_visual_map`
    </sql>

    <select id="selectById" resultMap="VisualMapResult">
        <include refid="selectVisualMapVo"/> where `id` = #{id}
    </select>

    <select id="selectList" resultMap="VisualMapResult">
        <include refid="selectVisualMapVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="data != null and data != ''"> and `data` = #{data}</if>
        </where>
    </select>

    <select id="selectMapList" resultType="java.util.LinkedHashMap">
        <include refid="selectVisualMapVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="data != null and data != ''"> and `data` = #{data}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ruoyi.sq.domain.VisualMap" useGeneratedKeys="true" keyProperty="id">
        insert into `blade_visual_map`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="name != null">`name`,</if>
            <if test="data != null">`data`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="data != null">#{data},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.sq.domain.VisualMap">
        update `blade_visual_map`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="data != null">`data` = #{data},</if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `blade_visual_map` where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="softDeleteByIds">
        update `blade_visual_map` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
