<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnCameraRecordMapper">
    <resultMap id="YnCameraRecordResult" type="com.ruoyi.sq.domain.YnCameraRecord">
        <result property="id" column="id" />
        <result property="channelId" column="channel_id" />
        <result property="lname" column="lname" />
        <result property="isOpen" column="is_open" />
        <result property="carmip" column="carmip" />
        <result property="createTime" column="create_time" />
        <result property="type" column="type" />
    </resultMap>

    <sql id="selectYnCameraRecordVo">
        select `id`, `channel_id`, `lname`, `is_open`, `carmip`, `create_time`, `type` from `yn_camera_record`
    </sql>

    <select id="selectById" resultMap="YnCameraRecordResult">
        <include refid="selectYnCameraRecordVo"/> where `id` = #{id}
    </select>

    <select id="selectList" resultMap="YnCameraRecordResult">
        <include refid="selectYnCameraRecordVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="channelId != null and channelId != ''"> and `channel_id` = #{channelId}</if>
            <if test="lname != null and lname != ''"> and `lname` = #{lname}</if>
            <if test="isOpen != null and isOpen != ''"> and `is_open` = #{isOpen}</if>
            <if test="carmip != null and carmip != ''"> and `carmip` = #{carmip}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="type != null and type != ''"> and `type` = #{type}</if>
        </where>
    </select>

    <select id="selectMapList" resultType="java.util.LinkedHashMap">
        <include refid="selectYnCameraRecordVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="channelId != null and channelId != ''"> and `channel_id` = #{channelId}</if>
            <if test="lname != null and lname != ''"> and `lname` = #{lname}</if>
            <if test="isOpen != null and isOpen != ''"> and `is_open` = #{isOpen}</if>
            <if test="carmip != null and carmip != ''"> and `carmip` = #{carmip}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="type != null and type != ''"> and `type` = #{type}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ruoyi.sq.domain.YnCameraRecord" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_camera_record`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="channelId != null">`channel_id`,</if>
            <if test="lname != null">`lname`,</if>
            <if test="isOpen != null">`is_open`,</if>
            <if test="carmip != null">`carmip`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="type != null">`type`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="channelId != null">#{channelId},</if>
            <if test="lname != null">#{lname},</if>
            <if test="isOpen != null">#{isOpen},</if>
            <if test="carmip != null">#{carmip},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.sq.domain.YnCameraRecord">
        update `yn_camera_record`
        <set>
            <if test="channelId != null">`channel_id` = #{channelId},</if>
            <if test="lname != null">`lname` = #{lname},</if>
            <if test="isOpen != null">`is_open` = #{isOpen},</if>
            <if test="carmip != null">`carmip` = #{carmip},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="type != null">`type` = #{type},</if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `yn_camera_record` where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="softDeleteByIds">
        update `yn_camera_record` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
