<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnLogsOutMapper">
    <resultMap id="YnLogsOutResult" type="com.ruoyi.sq.domain.YnLogsOut">
        <result property="id" column="id" />
        <result property="ydNo" column="yd_no" />
        <result property="leader" column="leader" />
        <result property="plateNumber" column="plate_number" />
        <result property="taskTime" column="task_time" />
        <result property="createTime" column="create_time" />
        <result property="instruction" column="instruction" />
        <result property="team" column="team" />
        <result property="vehicles" column="vehicles" />
        <result property="schedule" column="schedule" />
        <result property="carType" column="car_type" />
        <result property="wellingPoint" column="welling_point" />
        <result property="wellingPointId" column="welling_point_id" />
        <result property="mineralType" column="mineral_type" />
        <result property="miners" column="miners" />
        <result property="discharge" column="discharge" />
        <result property="releaseDate" column="release_date" />
        <result property="releaseConfirmation" column="release_confirmation" />
        <result property="weighingTime" column="weighing_time" />
        <result property="totalTonnage" column="total_tonnage" />
        <result property="unloadingPoint" column="unloading_point" />
        <result property="unloadingTypes" column="unloading_types" />
        <result property="unloadUser" column="unload_user" />
        <result property="unloadingTime" column="unloading_time" />
        <result property="numberVehicles" column="number_vehicles" />
        <result property="unloadingConfirmation" column="unloading_confirmation" />
        <result property="progress" column="progress" />
    </resultMap>

    <sql id="selectYnLogsOutVo">
        select `id`, `yd_no`, `leader`, `plate_number`, `task_time`, `create_time`, `instruction`, `team`, `vehicles`, `schedule`, `car_type`, `welling_point`, `welling_point_id`, `mineral_type`, `miners`, `discharge`, `release_date`, `release_confirmation`, `weighing_time`, `total_tonnage`, `unloading_point`, `unloading_types`, `unload_user`, `unloading_time`, `number_vehicles`, `unloading_confirmation`, `progress` from `yn_logs_out2`
    </sql>

    <select id="selectYnLogsOutById" resultMap="YnLogsOutResult">
        <include refid="selectYnLogsOutVo"/> where `id` = #{id}
    </select>

    <select id="selectYnLogsOutList" resultMap="YnLogsOutResult">
        <include refid="selectYnLogsOutVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="ydNo != null and ydNo != ''"> and `yd_no` = #{ydNo}</if>
            <if test="leader != null and leader != ''"> and `leader` = #{leader}</if>
            <if test="plateNumber != null and plateNumber != ''"> and `plate_number` = #{plateNumber}</if>
            <if test="taskTime != null and taskTime != ''"> and `task_time` = #{taskTime}</if>
            <if test="createTime != null and createTime != ''"> and `create_time` = #{createTime}</if>
            <if test="instruction != null and instruction != ''"> and `instruction` = #{instruction}</if>
            <if test="team != null and team != ''"> and `team` = #{team}</if>
            <if test="vehicles != null and vehicles != ''"> and `vehicles` = #{vehicles}</if>
            <if test="schedule != null and schedule != ''"> and `schedule` = #{schedule}</if>
            <if test="carType != null and carType != ''"> and `car_type` = #{carType}</if>
            <if test="wellingPoint != null and wellingPoint != ''"> and `welling_point` = #{wellingPoint}</if>
            <if test="wellingPointId != null and wellingPointId != ''"> and `welling_point_id` = #{wellingPointId}</if>
            <if test="mineralType != null and mineralType != ''"> and `mineral_type` = #{mineralType}</if>
            <if test="miners != null and miners != ''"> and `miners` = #{miners}</if>
            <if test="discharge != null and discharge != ''"> and `discharge` = #{discharge}</if>
            <if test="releaseDate != null and releaseDate != ''"> and `release_date` = #{releaseDate}</if>
            <if test="releaseConfirmation != null and releaseConfirmation != ''"> and `release_confirmation` = #{releaseConfirmation}</if>
            <if test="weighingTime != null and weighingTime != ''"> and `weighing_time` = #{weighingTime}</if>
            <if test="totalTonnage != null and totalTonnage != ''"> and `total_tonnage` = #{totalTonnage}</if>
            <if test="unloadingPoint != null and unloadingPoint != ''"> and `unloading_point` = #{unloadingPoint}</if>
            <if test="unloadingTypes != null and unloadingTypes != ''"> and `unloading_types` = #{unloadingTypes}</if>
            <if test="unloadUser != null and unloadUser != ''"> and `unload_user` = #{unloadUser}</if>
            <if test="unloadingTime != null and unloadingTime != ''"> and `unloading_time` = #{unloadingTime}</if>
            <if test="numberVehicles != null and numberVehicles != ''"> and `number_vehicles` = #{numberVehicles}</if>
            <if test="unloadingConfirmation != null and unloadingConfirmation != ''"> and `unloading_confirmation` = #{unloadingConfirmation}</if>
            <if test="progress != null and progress != ''"> and `progress` = #{progress}</if>
        </where>
    </select>

    <insert id="insertYnLogsOut" parameterType="com.ruoyi.sq.domain.YnLogsOut" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_logs_out2`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="ydNo != null">`yd_no`,</if>
            <if test="leader != null">`leader`,</if>
            <if test="plateNumber != null">`plate_number`,</if>
            <if test="taskTime != null">`task_time`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="instruction != null">`instruction`,</if>
            <if test="team != null">`team`,</if>
            <if test="vehicles != null">`vehicles`,</if>
            <if test="schedule != null">`schedule`,</if>
            <if test="carType != null">`car_type`,</if>
            <if test="wellingPoint != null">`welling_point`,</if>
            <if test="wellingPointId != null">`welling_point_id`,</if>
            <if test="mineralType != null">`mineral_type`,</if>
            <if test="miners != null">`miners`,</if>
            <if test="discharge != null">`discharge`,</if>
            <if test="releaseDate != null">`release_date`,</if>
            <if test="releaseConfirmation != null">`release_confirmation`,</if>
            <if test="weighingTime != null">`weighing_time`,</if>
            <if test="totalTonnage != null">`total_tonnage`,</if>
            <if test="unloadingPoint != null">`unloading_point`,</if>
            <if test="unloadingTypes != null">`unloading_types`,</if>
            <if test="unloadUser != null">`unload_user`,</if>
            <if test="unloadingTime != null">`unloading_time`,</if>
            <if test="numberVehicles != null">`number_vehicles`,</if>
            <if test="unloadingConfirmation != null">`unloading_confirmation`,</if>
            <if test="progress != null">`progress`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="ydNo != null">#{ydNo},</if>
            <if test="leader != null">#{leader},</if>
            <if test="plateNumber != null">#{plateNumber},</if>
            <if test="taskTime != null">#{taskTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="instruction != null">#{instruction},</if>
            <if test="team != null">#{team},</if>
            <if test="vehicles != null">#{vehicles},</if>
            <if test="schedule != null">#{schedule},</if>
            <if test="carType != null">#{carType},</if>
            <if test="wellingPoint != null">#{wellingPoint},</if>
            <if test="wellingPointId != null">#{wellingPointId},</if>
            <if test="mineralType != null">#{mineralType},</if>
            <if test="miners != null">#{miners},</if>
            <if test="discharge != null">#{discharge},</if>
            <if test="releaseDate != null">#{releaseDate},</if>
            <if test="releaseConfirmation != null">#{releaseConfirmation},</if>
            <if test="weighingTime != null">#{weighingTime},</if>
            <if test="totalTonnage != null">#{totalTonnage},</if>
            <if test="unloadingPoint != null">#{unloadingPoint},</if>
            <if test="unloadingTypes != null">#{unloadingTypes},</if>
            <if test="unloadUser != null">#{unloadUser},</if>
            <if test="unloadingTime != null">#{unloadingTime},</if>
            <if test="numberVehicles != null">#{numberVehicles},</if>
            <if test="unloadingConfirmation != null">#{unloadingConfirmation},</if>
            <if test="progress != null">#{progress},</if>
        </trim>
    </insert>

    <update id="updateYnLogsOut" parameterType="com.ruoyi.sq.domain.YnLogsOut">
        update `yn_logs_out2`
        <set>
            <if test="ydNo != null">`yd_no` = #{ydNo},</if>
            <if test="leader != null">`leader` = #{leader},</if>
            <if test="plateNumber != null">`plate_number` = #{plateNumber},</if>
            <if test="taskTime != null">`task_time` = #{taskTime},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="instruction != null">`instruction` = #{instruction},</if>
            <if test="team != null">`team` = #{team},</if>
            <if test="vehicles != null">`vehicles` = #{vehicles},</if>
            <if test="schedule != null">`schedule` = #{schedule},</if>
            <if test="carType != null">`car_type` = #{carType},</if>
            <if test="wellingPoint != null">`welling_point` = #{wellingPoint},</if>
            <if test="wellingPointId != null">`welling_point_id` = #{wellingPointId},</if>
            <if test="mineralType != null">`mineral_type` = #{mineralType},</if>
            <if test="miners != null">`miners` = #{miners},</if>
            <if test="discharge != null">`discharge` = #{discharge},</if>
            <if test="releaseDate != null">`release_date` = #{releaseDate},</if>
            <if test="releaseConfirmation != null">`release_confirmation` = #{releaseConfirmation},</if>
            <if test="weighingTime != null">`weighing_time` = #{weighingTime},</if>
            <if test="totalTonnage != null">`total_tonnage` = #{totalTonnage},</if>
            <if test="unloadingPoint != null">`unloading_point` = #{unloadingPoint},</if>
            <if test="unloadingTypes != null">`unloading_types` = #{unloadingTypes},</if>
            <if test="unloadUser != null">`unload_user` = #{unloadUser},</if>
            <if test="unloadingTime != null">`unloading_time` = #{unloadingTime},</if>
            <if test="numberVehicles != null">`number_vehicles` = #{numberVehicles},</if>
            <if test="unloadingConfirmation != null">`unloading_confirmation` = #{unloadingConfirmation},</if>
            <if test="progress != null">`progress` = #{progress},</if>
        </set>
        where `id` = #{id}
    </update>
    <update id="deleteYnLogsOutByIds">
        update `yn_logs_out2` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

    <update id="deleteYnLogsOutById">
        update `yn_logs_out2` set `is_deleted` = '1' where `id` = #{id}
    </update>

</mapper>
