<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnRfidRecordMapper">
    <resultMap id="YnRfidRecordResult" type="com.ruoyi.sq.domain.YnRfidRecord">
        <result property="id" column="id" />
        <result property="ip" column="ip" />
        <result property="cid" column="cid" />
        <result property="tname" column="tname" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectYnRfidRecordVo">
        select `id`, `ip`, `cid`, `tname`, `create_time` from `yn_rfid_record`
    </sql>

    <select id="selectById" resultMap="YnRfidRecordResult">
        <include refid="selectYnRfidRecordVo"/> where `id` = #{id}
    </select>

    <select id="selectList" resultMap="YnRfidRecordResult">
        <include refid="selectYnRfidRecordVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="cid != null and cid != ''"> and `cid` = #{cid}</if>
            <if test="tname != null and tname != ''"> and `tname` = #{tname}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
        </where>
    </select>

    <select id="selectMapList" resultType="java.util.LinkedHashMap">
        <include refid="selectYnRfidRecordVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="cid != null and cid != ''"> and `cid` = #{cid}</if>
            <if test="tname != null and tname != ''"> and `tname` = #{tname}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ruoyi.sq.domain.YnRfidRecord" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_rfid_record`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="ip != null">`ip`,</if>
            <if test="cid != null">`cid`,</if>
            <if test="tname != null">`tname`,</if>
            <if test="createTime != null">`create_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="ip != null">#{ip},</if>
            <if test="cid != null">#{cid},</if>
            <if test="tname != null">#{tname},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.sq.domain.YnRfidRecord">
        update `yn_rfid_record`
        <set>
            <if test="ip != null">`ip` = #{ip},</if>
            <if test="cid != null">`cid` = #{cid},</if>
            <if test="tname != null">`tname` = #{tname},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `yn_rfid_record` where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="softDeleteByIds">
        update `yn_rfid_record` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
