<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnRfidYdqMapper">
    <resultMap id="YnRfidYdqResult" type="com.ruoyi.sq.domain.YnRfidYdq">
        <result property="id" column="id" />
        <result property="location" column="location" />
        <result property="status" column="status" />
        <result property="mark" column="mark" />
        <result property="createTime" column="create_time" />
        <result property="name" column="name" />
        <result property="ip" column="ip" />
        <result property="username" column="username" />
        <result property="psw" column="psw" />
        <result property="port" column="port" />
        <result property="lUserID" column="l_user_id" />
        <result property="tname" column="tname" />
    </resultMap>

    <sql id="selectYnRfidYdqVo">
        select `id`, `location`, `status`, `mark`, `create_time`, `name`, `ip`, `username`, `psw`, `port`, `l_user_id`, `tname` from `yn_rfid_ydq`
    </sql>

    <select id="selectById" resultMap="YnRfidYdqResult">
        <include refid="selectYnRfidYdqVo"/> where `id` = #{id}
    </select>

    <select id="selectList" resultMap="YnRfidYdqResult">
        <include refid="selectYnRfidYdqVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="location != null and location != ''"> and `location` = #{location}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
            <if test="mark != null and mark != ''"> and `mark` = #{mark}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="username != null and username != ''"> and `username` = #{username}</if>
            <if test="psw != null and psw != ''"> and `psw` = #{psw}</if>
            <if test="port != null and port != ''"> and `port` = #{port}</if>
            <if test="lUserID != null"> and `l_user_id` = #{lUserID}</if>
            <if test="tname != null and tname != ''"> and `tname` = #{tname}</if>
        </where>
    </select>

    <select id="selectMapList" resultType="java.util.LinkedHashMap">
        <include refid="selectYnRfidYdqVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="location != null and location != ''"> and `location` = #{location}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
            <if test="mark != null and mark != ''"> and `mark` = #{mark}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="username != null and username != ''"> and `username` = #{username}</if>
            <if test="psw != null and psw != ''"> and `psw` = #{psw}</if>
            <if test="port != null and port != ''"> and `port` = #{port}</if>
            <if test="lUserID != null"> and `l_user_id` = #{lUserID}</if>
            <if test="tname != null and tname != ''"> and `tname` = #{tname}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ruoyi.sq.domain.YnRfidYdq" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_rfid_ydq`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="location != null">`location`,</if>
            <if test="status != null">`status`,</if>
            <if test="mark != null">`mark`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="name != null">`name`,</if>
            <if test="ip != null">`ip`,</if>
            <if test="username != null">`username`,</if>
            <if test="psw != null">`psw`,</if>
            <if test="port != null">`port`,</if>
            <if test="lUserID != null">`l_user_id`,</if>
            <if test="tname != null">`tname`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="location != null">#{location},</if>
            <if test="status != null">#{status},</if>
            <if test="mark != null">#{mark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="name != null">#{name},</if>
            <if test="ip != null">#{ip},</if>
            <if test="username != null">#{username},</if>
            <if test="psw != null">#{psw},</if>
            <if test="port != null">#{port},</if>
            <if test="lUserID != null">#{lUserID},</if>
            <if test="tname != null">#{tname},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.sq.domain.YnRfidYdq">
        update `yn_rfid_ydq`
        <set>
            <if test="location != null">`location` = #{location},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="mark != null">`mark` = #{mark},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="ip != null">`ip` = #{ip},</if>
            <if test="username != null">`username` = #{username},</if>
            <if test="psw != null">`psw` = #{psw},</if>
            <if test="port != null">`port` = #{port},</if>
            <if test="lUserID != null">`l_user_id` = #{lUserID},</if>
            <if test="tname != null">`tname` = #{tname},</if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `yn_rfid_ydq` where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="softDeleteByIds">
        update `yn_rfid_ydq` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
