<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnSirenMapper">
    <resultMap id="YnSirenResult" type="com.ruoyi.sq.domain.YnSiren">
        <result property="id" column="id" />
        <result property="location" column="location" />
        <result property="ip" column="ip" />
        <result property="flag" column="flag" />
        <result property="mark" column="mark" />
        <result property="cameras" column="cameras" />
        <result property="volume" column="volume" />
        <result property="isWarning" column="is_warning" />
        <result property="name" column="name" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="selectYnSirenVo">
        select `id`, `location`, `ip`, `flag`, `mark`, `cameras`, `volume`, `is_warning`, `name`, `status` from `yn_siren`
    </sql>

    <select id="selectById" resultMap="YnSirenResult">
        <include refid="selectYnSirenVo"/> where `id` = #{id}
    </select>

    <select id="selectList" resultMap="YnSirenResult">
        <include refid="selectYnSirenVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="location != null and location != ''"> and `location` = #{location}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="flag != null and flag != ''"> and `flag` = #{flag}</if>
            <if test="mark != null and mark != ''"> and `mark` = #{mark}</if>
            <if test="cameras != null and cameras != ''"> and `cameras` = #{cameras}</if>
            <if test="volume != null and volume != ''"> and `volume` = #{volume}</if>
            <if test="isWarning != null and isWarning != ''"> and `is_warning` = #{isWarning}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
        </where>
    </select>

    <select id="selectMapList" resultType="java.util.LinkedHashMap">
        <include refid="selectYnSirenVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="location != null and location != ''"> and `location` = #{location}</if>
            <if test="ip != null and ip != ''"> and `ip` = #{ip}</if>
            <if test="flag != null and flag != ''"> and `flag` = #{flag}</if>
            <if test="mark != null and mark != ''"> and `mark` = #{mark}</if>
            <if test="cameras != null and cameras != ''"> and `cameras` = #{cameras}</if>
            <if test="volume != null and volume != ''"> and `volume` = #{volume}</if>
            <if test="isWarning != null and isWarning != ''"> and `is_warning` = #{isWarning}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ruoyi.sq.domain.YnSiren" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_siren`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="location != null">`location`,</if>
            <if test="ip != null">`ip`,</if>
            <if test="flag != null">`flag`,</if>
            <if test="mark != null">`mark`,</if>
            <if test="cameras != null">`cameras`,</if>
            <if test="volume != null">`volume`,</if>
            <if test="isWarning != null">`is_warning`,</if>
            <if test="name != null">`name`,</if>
            <if test="status != null">`status`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="location != null">#{location},</if>
            <if test="ip != null">#{ip},</if>
            <if test="flag != null">#{flag},</if>
            <if test="mark != null">#{mark},</if>
            <if test="cameras != null">#{cameras},</if>
            <if test="volume != null">#{volume},</if>
            <if test="isWarning != null">#{isWarning},</if>
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.sq.domain.YnSiren">
        update `yn_siren`
        <set>
            <if test="location != null">`location` = #{location},</if>
            <if test="ip != null">`ip` = #{ip},</if>
            <if test="flag != null">`flag` = #{flag},</if>
            <if test="mark != null">`mark` = #{mark},</if>
            <if test="cameras != null">`cameras` = #{cameras},</if>
            <if test="volume != null">`volume` = #{volume},</if>
            <if test="isWarning != null">`is_warning` = #{isWarning},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="status != null">`status` = #{status},</if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `yn_siren` where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="softDeleteByIds">
        update `yn_siren` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
