<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sq.mapper.YnTaskMapper">
    <resultMap id="YnTaskResult" type="com.ruoyi.sq.domain.YnTask">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="lname" column="lname" />
        <result property="channel" column="channel" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectYnTaskVo">
        select `id`, `name`, `start_time`, `end_time`, `lname`, `channel`, `status`, `create_time` from `yn_task`
    </sql>

    <select id="selectYnTaskById" resultMap="YnTaskResult">
        <include refid="selectYnTaskVo"/> where `id` = #{id}
    </select>

    <select id="selectYnTaskList" resultMap="YnTaskResult">
        <include refid="selectYnTaskVo"/>
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="startTime != null"> and `start_time` = #{startTime}</if>
            <if test="endTime != null"> and `end_time` = #{endTime}</if>
            <if test="lname != null and lname != ''"> and `lname` = #{lname}</if>
            <if test="channel != null and channel != ''"> and `channel` = #{channel}</if>
            <if test="status != null and status != ''"> and `status` = #{status}</if>
            <if test="createTime != null"> and `create_time` = #{createTime}</if>
        </where>
    </select>

    <insert id="insertYnTask" parameterType="com.ruoyi.sq.domain.YnTask" useGeneratedKeys="true" keyProperty="id">
        insert into `yn_task`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="name != null">`name`,</if>
            <if test="startTime != null">`start_time`,</if>
            <if test="endTime != null">`end_time`,</if>
            <if test="lname != null">`lname`,</if>
            <if test="channel != null">`channel`,</if>
            <if test="status != null">`status`,</if>
            <if test="createTime != null">`create_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="lname != null">#{lname},</if>
            <if test="channel != null">#{channel},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateYnTask" parameterType="com.ruoyi.sq.domain.YnTask">
        update `yn_task`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="lname != null">`lname` = #{lname},</if>
            <if test="channel != null">`channel` = #{channel},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
        </set>
        where `id` = #{id}
    </update>
    <update id="deleteYnTaskByIds">
        update `yn_task` set `is_deleted` = '1' where `id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

    <update id="deleteYnTaskById">
        update `yn_task` set `is_deleted` = '1' where `id` = #{id}
    </update>

</mapper>
